{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Uplook</title>
</head>
<body class="bg-[#243837]">
    <header class="sticky w-full">
        <nav class="flex justify-end items-center gap-4 h-12 p-5 text-[#b9b9b9]" >
            <div class="hover:text-[#775b22]"><a href="{{ '' }}">Home</a></div>
            <div class="hover:text-[#775b22]"><a href="{{ 'register' }}">Register</a></div>
            <div class="hover:text-[#775b22]"><a href="{{ 'login' }}">Log in</a></div>
            <a href="{{ 'profile' }}"><div class="h-10 w-10 bg-white rounded-full shadow-lg"></div></a>
        </nav>
    </header>
    {% block content %} {% endblock %}
</body>
</html>


