{% extends 'base.html' %}
{% block content %}
    <main class="flex flex-col items-center min-h-screen">
        <div class="flex h-40 my-12"><img class="w-70 h-40 sm:w-80" src="/static/logo/uplook_logo1.png" alt="Uplook logo"></div>
        <div class="text-center h-content w-content items-center ">
            <h2 class="text-[#b9b9b9] max-sm:mx-2 sm:text-lg" >Welcome to Uplook Image library! Search below for copywrite-free images.</h2>
        </div>
        <form action="" method="GET" class="flex justify-center h-10 w-content gap-0.5 my-8">
            <input class="rounded-lg w-80 max-sm:w-60" type="text" placeholder="Search..." id="search_term" name="search_term">
            <button class="bg-green-900 shadow-lg h-15 w-11 rounded-lg hover:bg-green-800" id="search-button" type="submit"></button>
        </form>
        <div class="flex max-sm:flex-wrap justify-center h-8 w-content gap-3 my-0.5 text-[#b9b9b9]">
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="nature-tag" type="submit">Nature</button>
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="abstract-tag" type="submit">Abstract</button>
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="supercars-tag" type="submit">Supercars</button>
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="city-tag" type="submit">City</button>
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="neon-tag" type="submit">Neon</button>
            <button class="bg-green-900 h-content w-content rounded-xl hover:bg-green-800 px-1 sm:px-4 shadow-lg" id="tech-tag" type="submit">Technology</button> 
        </div>
        <div class="p-5 md:p-10 mt-40">
            <div class="columns-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-4 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(:first-child)]:mt-8">
                {% for photo in photos %}
                    <img class="w-content h-content rounded shadow-md transition-transform hover:scale-105" 
                        src="{{ photo.src.medium }}" alt="{{ photo.alt }}">
                    <!-- <p class="text-red text-bold">{{ error }}</p> -->
                    <!-- <div class="h-[400px] w-[300px] bg-gray-200 mx-auto rounded"></div> -->
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}   

